* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6rem;
    font-size: 1.6rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
    /* Lo que hace JUSTIFY-CONTENT es mover los elementos, 
     ya sea a la izquierda, centro o derecha*/
    justify-content: center;
    /* Lo que hace ALIGN-ITEMNS es centrar los elementos
    de forma horizontal */
    align-items: center;
}

header nav .nav-right-section a {
    margin-right: 1rem;
    color: #000;
}

nav .nav-right-section .menu-icon {
    background-image: url('https://image.flaticon.com/icons/png/128/3603/3603178.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 1rem;
}

main {
    margin-top: 15rem;
    text-align: center;
}

main .main-logo {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img {
    width: 30rem;
}